.opt {
    position: fixed;
    margin: 16px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.optText:empty {
    display:none;
}

#canvas {
    border: 1px solid grey;
    float: left;
    cursor: crosshair;
}

.dragout {
    border: 1px solid black;
    background-color: dark-grey;
}

body {
    font-family: Arial;
}